.auth-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth-form {
    padding: 15px;
    width: 100%;
    max-width: 500px;
    
    input {
      font-size: 14px;
    }

    .input-with-icon {
      position: relative;

      input {
        padding-right: 30px;
      }

      .icon {
        position: absolute;
        top: calc(50% - 13px);
        right: 10px;
        user-select: none;
      }
    }

    .forgot-password {
      font-size: 12px;
      color: $main;
    }

    .submit {
      background-color: $main;
      border-color: $main;
      display: flex;

      .loading-container {
        margin-left: 5px;

        .loader {
          width: 15px;
          height: 15px;
        }
      }
      
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(33, 230, 194, 0.41);
      }

      &:active {
        background-color: $main;
        border-color: $main;
      }

      &:active:focus {
        box-shadow: 0 0 0 0.2rem rgba(33, 230, 194, 0.41);
      }
    }

    .question-btn {
      background-color: $secondary-btn;
      border-color: $secondary-btn;

      &:focus {
        box-shadow: 0 0 0 0.2rem transparentize($color: $secondary-btn, $amount: 0.4);
      }

      &:active {
        background-color: $secondary-btn;
        border-color: $secondary-btn;
      }

      &:active:focus {
        box-shadow: 0 0 0 0.2rem transparentize($color: $secondary-btn, $amount: 0.4);
      }
    }
  }
}