.schema-page-wrapper {
  display: flex;
  overflow: scroll;
  height: 100%;
  max-height: 100vh;

  .schema {
    overflow: scroll;
    max-height: 100vh;
  }
}

.schema-type {
  font-size: 16px;

  &.clickable {
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.type-link:hover {
  text-decoration: none;
}

.schema-type-name {
  display: -webkit-inline-flex;
  color: rgb(67, 112, 165);
  margin-right: 3px;
}

.schema-type-link {
  cursor: pointer;
  display: -webkit-inline-flex;
  color: rgb(213, 178, 89);
}

.schema-type-enum {
  padding-left: 15px;
  color: rgb(67, 112, 165);
}

.schema-type-link:hover {
  text-decoration-line: underline;
}

.schema-type-underlying, .schema-type-type {
  padding: 10px;
  border-radius: 5px;
}

.schema-type-underlying, .schema-type-type {
  &:hover {
    background-color: #f4f4f4;
  }
}
