.sidebar {
  background: $dark-blue;
  position: fixed;
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;

  .logo {
    height: 100px;
    flex-grow: 0;
    flex-shrink: 0;

    .logo-link {
      display: block;
      height: 100px;
      font-size: 38px;
      line-height: 100px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
      color: $white;
    }
  }

  .schema-links {
    position: relative;
    height: 100%;
    
    .menu-item {
      display: flex;
      flex-direction: column;

      .item-link {
        font-size: 50px;
        display: block;
        text-align: center;
        font-weight: bold;

        &.active {
          color: rgb(196, 36, 169);
        }

      }
      &.user-profile {
        position: absolute;
        width: 100%;
        bottom: 20px;

        .item-link {
          background-size: cover;
          background-position: center;
          border: 0px solid;
          border-radius: 200px;
          width: 50px;
          height: 50px;
          margin: 0 auto;

          &.avatar {
            .no-avatar {
              border-radius: 50%;
              width: 50px;
              height: 50px;
              background-color: rgb(252, 184, 184);
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 20px;
              color: #000;
              font-weight: 500;

              .span {
                margin-top: -3px;
              }
            }
          }
        }
      }
    }
  }
}